<div class="recipe-card">
    <h3><a href="{% url 'details_recipe' pk=recipe.pk %}">{{ recipe.title|lower|capfirst }}</a></h3>
    <img height="250px" src="{{ recipe.picture.url }}" alt="{{ recipe.title }}">
    <p>Recipe Type: 
        <a href="{% url 'recipes_by_type' recipe_type=recipe.recipe_type %}">{{ recipe.get_recipe_type_display }}</a>
    </p>
    <p>By: <a href="{% url 'details_profile' pk=recipe.author.pk %}">{{ recipe.author.username }}</a> on {{ recipe.created_at|date }}</p>
                
    <a href="{% url 'details_recipe' pk=recipe.pk %}">More</a>
</div>