{% extends 'base.html' %}
{% load static %}

{% block content %}
 
    <div class="search-form">
        <form action="{% url 'home' %}" method="get">
            {{ form.as_p }}
            <label><input type="checkbox" name="veggie_recipes" 
                          {% if request.GET.veggie_recipes %}checked{% endif %}> Veggie Recipes</label>
            <label><input type="checkbox" name="other_users" 
                          {% if request.GET.other_users %}checked{% endif %}> Community Recipes</label>
            <button type="submit">Search</button>
        </form>
    </div>
        
    <div class="recipes-container">
    {% for recipe in recipes %}
        {% include 'partials/recipe_card.html' %}
    {% endfor %}
    </div>

    {% include 'partials/page_nav.html' %}
    
{% endblock %}
