{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href={% static 'css/styles.css' %} />
<title>Base Template</title>
    
</head>

<body>

<div class="header">
    <p>Delicious recipes for picky eaters</p>
   {% if user.is_authenticated %}
        <nav class="in-row">
            <a href="#">Home</a>
            <a href="#">Categories</a>
            <a href="#">My Recipes</a>
            <a href="#">Favourites</a>
            <a href="#">Log out</a>
        </nav>
    {% else %}
        <nav class="in-row">
            <a href="#">Home</a>
            <a href="#">Log in</a>
            <a href="#">Register</a>
        </nav>
    {% endif %}    
    
    
</div>


<div class="row">
  <div class="column middle" >
      {% block content %} 
          
      {% endblock %} 
  </div>

  <div class="column right side" ><img height="auto" src="{% static 'images/sidebar_img.jpg' %}" alt="sidebar image"></div>
</div>

<div class="footer">

        <div class="footer-column">
            <h3>Useful Links</h3>
            <a href="#">FAQs</a> <br>
            <a href="#">Unit Conversions Cheatsheet</a> <br>
            <a href="#">Ingredient Substitutes</a> <br>
        </div>
    
        <div class="footer-column">
            <h3>Quick Links</h3>
            <a href="#">Baked Goods</a> <br>
            <a href="#">Desserts</a> <br>
            <a href="#">Sides</a> <br>
            <a href="#">Mains</a> <br>
            <a href="#">Drinks</a>
        </div>
    
        <div class="footer-column">
            <h3>Socials</h3>
            <a href="#">Instagram</a> <br>
            <a href="#">Twitter</a> <br>
        </div>
</div>

</body>
</html>


