* {
  box-sizing: border-box;
}

body {
  font-family: "Palatino Linotype", sans-serif;
  color: black;
}

.header {
  background-color: cornflowerblue;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: mistyrose;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}

.header p {
  text-align: left;
  font-family: "Lucida Handwriting", sans-serif;
}

.header nav {
  display: flex;
}

.header nav a {
  text-decoration: none;
  color: antiquewhite;
  margin-left: 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: peachpuff;
  padding: 5px 7px;
  background-color: cornflowerblue;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: peachpuff;
  border-radius: 0.1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: palevioletred;
  min-width: 160px;
  border-radius: 0.1em;

  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.row {
  display: flex;
}

.column {
  padding: 2px;
}

.column-side {
  background-color: peachpuff;
  color: black;
  flex: 1;
}

.column.middle {
  flex: 4;
  background-color: mistyrose;
  color: black;
  padding-left: 5px;
  margin-left: 10px;
}

.footer {
  background-color: cornflowerblue;
  padding: 5px;
  color: indianred;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  line-height: 1;
  width: 25%;
  text-align: center;
  padding: 10px;
}

.footer a {
  text-transform: uppercase;
  margin: 0.5em;
  text-decoration: none;
  color: antiquewhite;
}
