@media (max-width: 600px) {
  .column-side {
    display: none;
  }

  .header {
    flex-direction: column;
  }

  .header nav a {
    flex-direction: column;
  }

  .login-form form,
  .sign-up-form form,
  .sign-out-form form,
  .edit-form form,
  .delete-profile-form form {
    width: 90%;
  }
}
