{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Add Ingredient</h2>
  <form id="ingredient-form" method="post">
    {{ form.non_field_errors }}
    <div id="ingredient-fields">
      <div class="ingredient-field">
        <label for="id_name">Name:</label>
        {{ form.name }}
        <label for="id_amount">Amount:</label>
        {{ form.amount }}
        <label for="id_measurement_unit">Measurement Unit:</label>
        {{ form.measurement_unit }}
        <label for="id_additional_context">Additional Context:</label>
        {{ form.additional_context }}
      </div>
    </div>
    <button type="button" id="add-ingredient" >Add Ingredient</button>
      
    <button type="submit">Add</button>
      
    {% csrf_token %}

  </form>
  
{% endblock %}