{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="in-line-title-like">
    
  <div class="detail-recipe">
  
  <h2>{{ recipe.title|lower|capfirst }}</h2> 
  
  <div class="likes">
     {% if user.is_authenticated %}
        {% if has_liked %}
            <a href="{% url 'recipe_unlike' recipe_id=recipe.id %}" 
               class="like-btn liked"><i class="fas fa-heart"></i></a> {{ total_likes }}
        {% else %}
            <a href="{% url 'recipe_like' recipe_id=recipe.id %}" 
               class="like-btn"><i class="far fa-heart"></i></a> {{ total_likes }}
        {% endif %}
     {% endif %}
     
  </div>
  </div>
  
  <div class="edit-delete-recipe-buttons">
  {% if user.is_authenticated and user == recipe.author %}
      <a href="{% url 'edit_recipe' pk=recipe.id %}">Edit Recipe</a>
      <a href="{% url 'delete_recipe' pk=recipe.id %}">Delete Recipe</a>
  {% endif %}
  </div>
  
   <img class="profile-picture" height="250px" 
        src="{% if recipe.picture %}{{ recipe.picture.url }}{% endif %}" alt="picture of {{ recipe.title }}" />
  
  <h3>Ingredients</h3>

  <ul>
    {% include 'partials/ingredient_list.html' %}
  </ul>
  
  <h3>Instructions</h3>
  <p>{{ recipe.description }}</p>
  
  <p>Recipe Type: 
      <a href="#">{{ recipe.get_recipe_type_display }}</a>
  </p>
  <p>Servings: {{ recipe.servings }}</p>
  <p>Created by: <a href="{% url 'details_profile' pk=recipe.author.pk %}">{{ recipe.author.username }}</a>
  
  
 <div class="add-comment">
 <form method="post" action="{% url 'add_comment' recipe.pk %}">
        {{ comment_form.as_p }}
        <button type="submit">Submit Comment</button>
     
        {% csrf_token %}

 </form>
 </div>
  
 <div class="comments">
 
    <h3>Comments</h3>
    
     {% if comments %}
      <ul>
        {% for comment in comments %}
          <li>{{ comment.content }}</li>
          <p> - <a href="{% url 'details_profile' pk=comment.user.pk %}">{{ comment.user.username }}</a></p>
        {% endfor %}
      </ul>
    {% else %}
      <p>No comments yet.</p>
    {% endif %}
     
 </div>
    
  </div>  
{% endblock %}

