{% extends 'base.html' %}
{% block content %}
{% load static %}
    
<div class="detail-recipe-card">
    
<h2>{{ object.title }}</h2>
<p>Type: {{ object.get_recipe_type_display }}</p>
    
{% if object.picture %}
    <img src="{{ object.picture.url }}" alt="{{ object.title }}">
{% endif %}
    
<p>Ingredients:</p>
<ul>
    {% for ingredient in object.ingredients.all %}
        <li>{{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.get_measurement_unit_display }}
            {% if ingredient.additional_context %}, {{ ingredient.additional_context }}{% endif %}</li>
    {% endfor %}
</ul>    
    
<p>Description: {{ object.description }}</p>
     
</div>

{% endblock %}
