{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="in-line-title-like">
    
  <div class="detail-recipe">
  
    <h2>{{ recipe.title|lower|capfirst }}
      <div class="likes">
         {% if user.is_authenticated %}
            {% if has_liked %}
                <a href="{% url 'recipe_unlike' recipe_id=recipe.id %}" class="like-btn liked"><i class="fas fa-heart"></i></a>
            {% else %}
                <a href="{% url 'recipe_like' recipe_id=recipe.id %}" class="like-btn"><i class="far fa-heart"></i></a>
            {% endif %}
         {% endif %}
         <span>{{ total_likes }}</span>
      </div>
    </h2>

    <div class="edit-delete-recipe-buttons">
      {% if user.is_authenticated and user == recipe.author %}
          <a href="{% url 'edit_recipe' pk=recipe.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
          <a href="{% url 'delete_recipe' pk=recipe.id %}"><i class="fa-solid fa-trash"></i></a>
      {% endif %}
    </div>
  
    <img class="profile-picture" height="250px" src="{% if recipe.picture %}{{ recipe.picture.url }}{% endif %}" alt="picture of {{ recipe.title }}" />
    
      <div class="info">
      <p>Recipe Type: <a href="{% url 'recipes_by_type' recipe_type %}">{{ recipe.get_recipe_type_display }}</a></p>
      <p>Servings: {{ recipe.servings }}</p>
      <p>Created by: <a href="{% url 'details_profile' pk=recipe.author.pk %}">{{ recipe.author.username }}</a></p>
    </div>
  
    <div class="sections-container">
      <div class="section ingredients">
        <h3>Ingredients</h3> <a href="{% url 'unit_converter' %}"><i class="fa-solid fa-calculator"></i></a>

        <ul>
          {% include 'partials/ingredient_list.html' %}
        </ul>
      </div>
    
      <div class="section instructions">
        <h3>Instructions</h3>
        <div class="instructions-content">
          <p>{{ recipe.description }}</p>
        </div>
      </div>
    </div>
  
    <div class="add-comment">
      <form method="post" action="{% url 'add_comment' recipe.pk %}">
        {% csrf_token %}
        {{ comment_form.non_field_errors }}
        <input type="hidden" name="recipe" value="{{ recipe.pk }}">
        <textarea name="comment" rows="4" placeholder="Write your comment here..." required></textarea>
        <button type="submit">Comment</button>
      </form>
    </div>

    <div class="comments">
      <h3>Comments</h3>
      {% if comments %}
        <ul>
          {% for comment in comments %}
            <li>
              <blockquote>
                <p>{{ comment.content }}</p>
                <footer>- <a href="{% url 'details_profile' pk=comment.user.pk %}">{{ comment.user.username }}</a></footer>
              </blockquote>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No comments yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

